$color-dark-grey: #212529;
$color-light-grey: #adb5bd;
$color-white: #fff;

$color-gradient-1: #111;
$color-gradient-2: #c89116;
$gradient: linear-gradient(
  to right bottom,
  $color-gradient-1,
  $color-gradient-2
);

* {
  margin: 0;
  padding: 0;
}
*,
*::before,
*:after {
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  background-image: $gradient;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: calc(100vh - 2 * 4vw);
}

.container {
  max-width: 140rem;
  min-height: 130rem;
  margin: 4vw auto;
  background-color: $color-white;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 2rem 6rem 0.5rem rgba(#000, 0.3);

  display: grid;
  grid-template-rows: 10rem minmax(100rem, auto);
  grid-template-columns: 1fr 2fr;
  grid-template-areas: "head head" "list recipe";
}
