.header {
  grid-area: head;
  background-color: $color-dark-grey;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__logo {
    height: 10rem;
    width: 10rem;
    margin-left: 4rem;
    display: block;
  }
}

.search {
  background-color: $color-light-grey;
  height: 7rem;

  border-radius: 10rem;
  display: flex;
  align-items: center;
  padding-left: 3rem;
  transition: all 0.3s;

  &:focus-within {
    transform: translateY(-2px);
    box-shadow: 0 1rem 2rem 0.2rem rgba($color-gradient-2, 0.2);
  }

  &__input {
    border: none;
    background: none;
    font-family: inherit;
    color: inherit;
    font-size: 1.7rem;
    width: 35rem;

    &:focus {
      outline: none;
    }
  }
  &__btn {
    font-weight: 600;
    font-family: inherit;
    height: inherit;
  }
}

.nav {
  align-self: stretch;
  margin-right: 2.5rem;

  &__list {
    list-style: none;
    display: flex;

    height: 100%;
  }

  &__item {
    position: relative;
  }

  &__btn {
    height: 100%;
    font-family: inherit;
    color: $color-light-grey;
    font-size: 1.4rem;
    font-weight: 700;
    text-transform: uppercase;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0 1.5rem;
    transition: all 0.3s;

    display: flex;
    align-items: center;

    svg {
      height: 3.4rem;
      width: 3.4rem;
      fill: $color-gradient-2;
      margin-right: 0.7rem;
      transform: translateY(-1px);
    }

    &:focus {
      outline: none;
    }

    &:hover {
      background-color: rgba(#000, 0.1);
    }
  }
}

.bookmarks {
  // display: none;
  padding: 1rem 0;
  position: absolute;
  right: -2.5rem;
  z-index: 10;
  width: 45rem;
  background-color: $color-white;
  box-shadow: 0 2rem 6rem 0.5rem rgba($color-gradient-2, 0.2);

  visibility: hidden;
  opacity: 0;
  transition: all 0.5s 0.2s;

  &__list {
    list-style: none;
  }

  &__field {
    cursor: pointer;
    padding: 0 4rem;

    display: flex;
    align-items: center;
    height: 100%;
    transition: all 0.3s;

    &:hover {
      // background-color: $color-grey-light-2;
    }
  }

  &:hover,
  .nav__btn--bookmarks:hover + & {
    visibility: visible;
    opacity: 1;
  }
}
