.pagination {
  margin-top: auto;
  padding: 0 3.5rem;

  display: flex;
  justify-content: space-between;
}
.copyright {
  margin-top: auto;
  text-align: center;
  font-size: 1.2rem;
  color: $color-dark-grey;
}

.social--icon {
  display: flex;
  justify-content: center;
  margin-top: 1rem;

  &-link {
    &:link,
    &:visited {
      color: $color-dark-grey;
    }
    &:hover,
    &:active {
      color: $color-gradient-2;
    }
  }
  &-logo {
    height: 2rem;
    width: 2rem;
  }
}
