.search-results {
  padding: 3rem 0;
  display: flex;
  flex-direction: column;
}

.results {
  list-style: none;
  margin-bottom: 2rem;
}

.pagination {
  margin-top: auto;
  padding: 0 3.5rem;

  display: flex;
  justify-content: space-between;
}

.social--icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 1rem;
}
.copyright {
  display: inline;
  margin-top: auto;
  text-align: center;
  font-size: 1.2rem;
  color: $color-dark-grey;

  a:link,
  a:visited {
    text-decoration: none;
    color: $color-dark-grey;
  }

  a:hover,
  a:active {
    color: $color-gradient-2;
  }
}
